---
import type { SubpartButtonDomain } from "../../lib/shared/components-model/subpartButton/domain/model/SubpartButtonDomain.model";

interface Props extends SubpartButtonDomain {}

const { text, variant } = Astro.props;

const buttonTheme = {
  Primary: "bg-black text-white",
  Secondary: "bg-transparent border border-black text-black",
};
---

<button
  class={`h-12 px-8 rounded-full cursor-pointer ${buttonTheme[variant]}`}
>
  {text}
</button>
