---
import { Image } from "@astrojs/image/components";
import type { SectionHeroDomain } from "../../lib/shared/components-model/sectionHero/domain/model/SectionHeroDomain.model";
import RichText from "../RichText/RichText";

interface Props extends SectionHeroDomain {}

const { heading, htmlBody, image } = Astro.props;
---

<section class="w-full bg-[#f3f3ff]">
  <div
    class="max-w-[1440px] relative mx-auto h-[700px] flex justify-between items-center gap-x-20"
  >
    <div class="w-3/5">
      <h1 class="text-5xl leading-normal font-semibold mb-8">{heading}</h1>
      {htmlBody && <RichText htmlBody={htmlBody} />}
    </div>
    <div class="w-2/5 relative">
      <Image
        alt={image.altText}
        class={"w-full"}
        width={1000}
        height={1000}
        src={image.url}
      />
    </div>
  </div>
</section>
