---
import type { NavigationDomain } from "../../lib/navigation/domain/model/NavigationDomain.model";
import SubpartNavigation from "../SubpartNavigation/SubpartNavigation.astro";

interface Props {
  readonly navigation: NavigationDomain;
}
const { navigation } = Astro.props;
---

<nav class="w-full h-16 px-8 py-4">
  <div class="max-w-[1440px] flex items-center justify-between mx-auto">
    <h2>Logo</h2>
    <ul class="flex items-center gap-x-4">
      {
        navigation.subpart_navigations.map((subpartNavigation) => (
          <SubpartNavigation subpartNavigation={subpartNavigation} />
        ))
      }
    </ul>
  </div>
</nav>
