---
import Navigation from "../components/Navigation/navigation.astro";
import { GetNavigationUseCase } from "../lib/navigation/domain/use-case/GetNavigationUseCase";
import { GetPageBySlugUseCase } from "../lib/page/domain/use-case/GetPageBySlugUseCase";

const { slug } = Astro.params;

const slugParsed = slug === undefined ? "/" : slug;

console.log(slugParsed);
const getPageBySlug = new GetPageBySlugUseCase();
const getNavigation = new GetNavigationUseCase();
// const page = await getPageBySlug.execute(slugParsed);
const [page, navigation] = await Promise.all([
  await getPageBySlug.execute(slugParsed),
  await getNavigation.execute(),
]);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    <Navigation navigation={navigation} />
    <h1>Astro</h1>
  </body>
</html>
